<div class="pt-3">
    <h3>Usuários</h3>
</div>
<table class="table pt-4 mt-4">
    <thead >
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Maiane</th>
            <td>maiane@gmail.com</td>
            <td><button class="btn btn-warning"><i class="fas fa-edit"></i></button>
            </td>
            <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">Davi</th>
            <td>davi@gmail.com</td>
            <td><button class="btn btn-warning"><i class="fas fa-edit"></i></button>
            </td>
            <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>